html, body {
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
}

body {
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    color: #3B4040;
}

/* CSS voor de header*/
header {
    background-color: #FF662E;
    text-align: center;
    width: 100%;
    height: auto;
    color: #FFFFFF;
}
header h3 {
    font-family: Poiret One, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: normal;
    line-height: inherit;
}

/*CSS voor de navbar*/
.navbar {
    background-color: #DEDEDE;
    color: black;
}
.navbar .container{
    width: 40%;
    height: auto;
}
.navbar ul{
    display: flex;
    flex-basis: 40%;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
}
.navbar li {
    list-style-type: none;
    margin: auto;
    padding: 10px;
}
.navbar a {
    text-decoration: none;
    color: inherit;
}
.navbar img {
    width: 100%;
    height: auto;
    margin: auto;

}

@media screen and (min-width: 850px) {
    .navbar {
        display: flex;
    }
    .navbar .container {
        margin-left: 30px;
        flex-basis: 30%;
    }
}

/* Forms */
#formcontainer form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
#detailscontainer {
    flex-basis: 40%;
}
#contactcontainer {
    flex-basis: 40%;
}
.button {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Poiret One, sans-serif;
}
h1 {
    font-size: 3.75em;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2.5em;
    font-weight: normal;
    font-style: normal;
    line-height: initial;
}
h4 {
    font-size: 2em;
}
h5 {
    font-size: 1.5em;
}
h6 {
    font-size: 1.25em;
}

@font-face {
    font-family: "Poiret One";
    src: url("fonts/PoiretOne-Regular.ttf");
}
