/* html en body element moeten beide padding en margin 0px krijgen omdat chrome automatisch ze een padding en margin geeft.*/
html, body {
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
}

body {
    width: 100vw;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    color: #3B4040;
}

/* CSS voor de header*/
header {
    background-color: #FF662E;
    text-align: center;
    width: 100%;
    height: auto;
    color: #FFFFFF;
}
header h2 {
    font-family: Poiret One, sans-serif;
    font-weight: bold;
    font-style: normal;
    /* margin-top moet naar 0 gezet worden, chrome geeft automatisch een margin mee waardoor er een wit vlak ontstaat boven de header */
    margin-top: 0px;
}

/* footer */
footer {
    width: 100%;
    height: 5em;
    background-color: #FF662E;
}

/*CSS voor de navbar en logo*/
.navbar {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    background-color: #DEDEDE;
    color: black;
    padding: 1em;
}
#logocontainer {
    width: 33%;
}
#logocontainer img {
    width: 100%;
    height: auto;
}
#linkList ul {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: space-around;
    list-style: none;
}

#linkList a{
    text-decoration: none;
    color: #000000;
}
#linkList a:hover {
    color: #FF662E;
}

@media screen and (max-width: 500px){
    .navbar {
        display: block;
    }
    #logocontainer {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
    }
    #linkList {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

/* Forms */
#formcontainer {
    margin-bottom: 1em;
}

#formcontainer form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
#detailscontainer {
    flex-basis: 40%;
}
#contactcontainer {
    flex-basis: 40%;
}

/*Hebben standaard display: none; omdat het script bepaalt of ze getoond moeten worden.*/
#tafel {
    display: none;
}
#afhalen {
    display: none;
}
.button {
    display: block;
}

@media screen and (max-width: 835px){
    #formcontainer form {
        display: block;
    }
    #detailscontainer {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    #contactcontainer {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

/*Assigning right font and size*/
h1, h2, h3, h4, h5, h6 {
    font-family: Poiret One, sans-serif;
}
h1 {
    font-size: 3.75em;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2.5em;
    font-weight: normal;
    font-style: normal;
    line-height: initial;
}
h4 {
    font-size: 2em;
}
h5 {
    font-size: 1.5em;
}
h6 {
    font-size: 1.25em;
}

/*font face om ook op localhost de juiste fonts te zien*/
@font-face {
    font-family: "Poiret One";
    src: url("includes/fonts/PoiretOne-Regular.ttf");
}
