html, body {
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
}

body {
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    color: #3B4040;
}

/* standaard row class voor flexbox gebruik */
.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 30px;
}

#maken, #aanpassen, #agenda {
    width: 30%;
    height: auto;
}

/* CSS voor de header*/
header {
    background-color: #FF662E;
    text-align: center;
    width: 100%;
    height: auto;
    color: #FFFFFF;
}
header h3 {
    font-family: Poiret One, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: normal;
    line-height: inherit;
}

/* Css bedoeld voor divs rondom een form gewrapped */
div.form {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    line-height: 1.50em;
}
div.formrow {
    display: flex;
}

/* Forms */
#formcontainer form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
#detailscontainer {
    flex-basis: 40%;
}
#contactcontainer {
    flex-basis: 40%;
}

/*CSS voor de standaard formats van de headers*/
h1, h2, h3, h4, h5, h6 {
    font-family: Poiret One, sans-serif;
}
h1 {
    font-size: 3.75em;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2.5em;
    font-weight: normal;
    font-style: normal;
    line-height: initial;
}
h4 {
    font-size: 2em;
}
h5 {
    font-size: 1.5em;
}
h6 {
    font-size: 1.25em;
}

@font-face {
    font-family: "Poiret One";
    src: url("../includes/fonts/PoiretOne-Regular.ttf");
}
